.h1{
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.container{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;

}
.img{
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    justify-items: center;
    object-fit: fill;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
@media(min-width:365px) and (max-width:728px){
    .grid{
        display: grid;
        grid-template-columns: 1fr ;
        gap: 20px;
    }
}